.top {
    &-img {
        background-image: url(../../public/images/top.jpg);
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-text {
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 3px;
        }
    }
    &__title {
        
    }
}
